<div class="d-flex flex-row justify-content-between p-3">
<%= link_to '<i class="fas fa-bars fa-2x text-white"></i>'.html_safe, home_main_path %>
<h1 class="text-white text-center">Expenses</h1>
<%= link_to '<i class="fas fa-sign-out-alt fa-2x text-white"></i>'.html_safe, destroy_user_session_path %>
</div>
<div class="d-flex flex-row justify-content-between p-3">
  <%= link_to '<i class="fas fa-arrow-left fa-2x text-white"></i>'.html_safe, expenses_path %>
  <span class="text-white push-b">Edit expense</span>
  <span class="text-muted push-b">Archives</span>
</div>

<div class="g-bg p-3">
  <%= render 'form', expense: @expense %>
  <%= link_to 'Delete', @expense, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger form-control mt-3"%>
  <p class="text-white text-center">
  <%= link_to 'Back', expenses_path %>
  </p>
</div>